{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2 class="mt-5">Login</h2>
    <form method="post" action="{% url 'login' %}" class="mt-3">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-outline-mine">Login</button>
    </form>

    <div class="mt-4">
      <!-- Ставим кнопку для регистрации -->
      <a href="{% url 'registration' %}" class="btn btn-outline-mine btn-lg">
        Reg
      </a>
    </div>
  </div>
{% endblock %}